{% extends "base.html" %}

{% block title %}Группа {{ group.title }}{% endblock %}

{% block content %}
	<h1>Группа: {{ group.title }}</h1>
	<p>{{ group.description }}</p>
	<p>Публикаций: {{ posts.count }}</p>
	<br>
	{% for post in posts %}
		<article>
			<a href="{% url 'posts:post_detail' post.pk %}">
				<h2>
					{{ post.title }}
				</h2>
			</a>
			<p>Автор:
				<a href="{% url 'posts:profile' post.author %}">
					{{ post.author.get_full_name }}
				</a>
			</p>
			<p>
				Дата: {{ post.pub_date|date:"d E Y" }}
			</p>
			<p>
				{{ post.text }}
			</p>
			<br>
		</article>
	{% endfor %}
{% endblock %}
