{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
	<article>
		<h2>
			{{ post.title }}
		</h2>
		<p>
			Автор:
			<a href="{% url 'posts:profile' post.author %}">
				{{ post.author.get_full_name }}
			</a>
		</p>
		<p>
			Дата: {{ post.pub_date|date:"d E Y" }}
		</p>
		<p>
			{{ post.text }}
		</p>
		{% if post.group %}
			<a href="{% url 'posts:group_posts' post.group.slug %}">
				{{ post.group }}
			</a>
		{% endif %}
	</article>
	<br>
{% endblock %}
